In [1]:
print('my first notebook')

my first notebook

In [3]:
print("Rishabh")

Rishabh

In [1]:
1+2

3

In [4]:
round(2.675, 2)

2.67

In [5]:
1/10

0.1

In [6]:
1/2

0.5

In [7]:
rishabh = "name"

In [8]:
rishabh

'name'

In [9]:
rahul = "same"

In [13]:
brother = 'rishabh' + 'rahul'

In [14]:
brother

'rishabhrahul'

In [15]:
type(brother)

str

In [16]:
number=10

In [17]:
type(number)

int

In [33]:
zebra = ["Rishabh Shukla"]
test = type(zebra)

In [34]:
print(test)

<class 'list'>

In [1]:
len("Rishabh")

7

In [4]:
name = "Rishabh"

In [5]:
len(name)

7

In [12]:
name[len(name)-len(name)]

'R'

In [9]:
name[]

'R'

In [23]:
name[::-1]

'hbahsiR'

In [24]:
mystring = "Hello World"

In [26]:
print(mystring[8])

r

In [27]:
"tinker"[1:4]

'ink'

In [13]:
check = "Rishabh Is a Good Boy"

In [14]:
check.split()

['Rishabh', 'Is', 'a', 'Good', 'Boy']

In [7]:
name = 'Rishabh Shukla'

In [8]:
print(f'My name is {name}')

My name is Rishabh Shukla

In [13]:
print('Python {}'.format('rules!'))

Python rules!

In [14]:
num = 22/7

In [17]:
print('Result is {n:1.2f}'.format(n=num))

Result is 3.14